<section class="Hui-container">		
		<div id="intro_investor">	
			<h1>为什么选择我们</h1>
			<br>
			<p class="f-14">我们只选择最值得信任的借款者，他们全部是来自世界顶级名校的中国留学生，毕业后将成为各自领域的精英、领袖</p>
			<p class="f-14">投资者可以实时监管留学生的还款情况。统计表明，名校学生违约率不足1%</p>
			<p class="f-14">我们拥有严密的风控机制，低违约率不会对您的投资回报造成任何影响</p>				
		</div>
		<div id="steps" >	
			<h1>简单5步开启名校教育投资</h1>
			<ul>
				<li><h4><img src="__PUBLIC__/Images/1.png"/>用户注册</h4></li>

				<li><h4><img src="__PUBLIC__/Images/2.png"/>预约投资</h4></li>
	
				<li><h4><img src="__PUBLIC__/Images/3.png"/>签署协议</h4></li>

				<li><h4><img src="__PUBLIC__/Images/4.png"/>开放投资</h4></li>

				<li><h4><img src="__PUBLIC__/Images/5.png"/>实现收益</h4></li>
				
				<li><h4><a href="{:U('Ireserve/index')}" class="btn btn-warning radius" id="investbt_investor2">预约投资</a></h4></li>
			</ul>		
		</div>		
</section>