@charset "utf-8";

#login {
	height: 340px;
	margin: 0 auto;
	width: 100%;
	min-width: 1000px;
}

#login_form{
	margin: 30px 30px 30px 60px;
}
.box{
	display:block;
	font-size:12px;
	width:300px;
	height:40px;
	margin:20px 20px 10px 0px;
	border:3px solid #4a4266; 
	padding:0px 0px 0px 20px;
	border-radius:5px;
}

#login_submit{
	margin:40px 0px 0px 0px;
	width:90px;
	height:40px;
	background-color:#4a4266;
	color:#FFFFFF; 
	border: 0px solid #4a4266; 
	cursor:pointer;
	font-family:黑体;
	font-size:20px;
	border-radius:5px;
}

#forget{
	margin:50px 160px 0px 0px;
	color:#666666;
}

