
<footer id="footer">	
	<div class="Hui-wraper">		
		<a href="{:U('Index/index')}"><img src="__PUBLIC__/Images/logo.png"/></a>
			<!--  <a href="{:U('Index/index')}">联系我们</a>	-->
			<!--  <a href="{:U('Index/index')}">关于我们</a>	-->
		<p> Copyright © 2016 brilliancefiance.com All Rights Reserved 京ICP备14055954号 </p>	
	</div>		
</footer>

<script type="text/javascript" src="__PUBLIC__/Hui/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Hui/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Hui/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Hui/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Hui/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Hui/lib/bootstrap-Switch/bootstrapSwitch.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Hui/lib/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Hui/lib/Validform/5.3.2/passwordStrength-min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Hui/static/h-ui/js/H-ui.js"></script>

</body>
</html>



