<section class="Hui-container">	
	<div class="Hui-wraper">
		<div id="intro_homepage">	
			<h1>我们是谁</h1>
			<p class="f-14">Brilliance Finance为考入世界顶级学府的中国留学生提供留学贷款。 </p>
			<p class="f-14">这些贷款来自于校友、机构及个人投资者。 </p>
			<p class="f-14">他们不仅获得了稳定的投资回报，同时也帮助培养了未来的“精英”。 </p>		
		</div>
	</div>
		<table class="table  mt-20" id="intro_table">
			<thead>
				<tr>
					<th class="col1 f-24">学生</th>
					<th class="col2 f-24">投资者</th>
					<th class="col3 f-24">顶级学府</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
					<p class="f-16">通过银行申请留学贷款不仅手续繁琐，且需要付出较高的利率。
					Brilliance Finance突破了传统借贷的局限，
					为世界顶级名校的中国留学生提供优惠、便利的贷款业务 </p>
					</td>
				
					<td>
					<p class="f-16">Brilliance Finance与众多世界顶级大学建立了合作关系。
					帮助他们的学生获取贷款资源，
					并为他们提供免费的就业咨询服务</p>
					</td>
				
					<td>
					<p class="f-16">Brilliance Finance的贷款资金来自于校友、机构投资者及个人投资者。
					他们不仅能够获取高额稳定的投资回报， 
					也帮助社会培养了未来的“领袖”和“精英” </p>
					</td>
				</tr>
			</tbody>
		</table>	
</section>