<section class="Hui-container">	
	<div id="sreserve">		
	<h2>详细信息</h2>
		<div class="line"></div>
		<br>
		<br>
		<form method="post" action="{:U('Sreserve/reserve')}" id="sreserve_form" class="form form-horizontal responsive">	
			<div class="row cl">
				<label class="form-label col-xs-2">大学：</label>
				<div class="formControls col-xs-5"> 
				<span class="select-box">
					<select class="select" size="1" name="college" id="college" datatype="*" nullmsg="请选你就读的大学！">
						<option value="" selected>请选择你就读的大学</option>
						<option value="1">Aarhus University</option>
						<option value="2">Boston University</option>
						<option value="3">Brown University</option>
						<option value="4">California Institute of Technology (Caltech)</option>
						<option value="5">Carnegie Mellon University</option>
						<option value="6">Columbia University</option>
						<option value="7">Cornell University</option>
						<option value="8">Dartmouth College</option>
						<option value="9">Delft University of Technology</option>
						<option value="10">Duke University</option>
						<option value="11">Durham University</option>
						<option value="12">Ecole normale supérieure, Paris</option>
						<option value="13">Ecole Polytechnique</option>
						<option value="14">EPFL (Ecole Polytechnique Fédérale de Lausanne)</option>
						<option value="15">Erasmus University Rotterdam </option>
						<option value="16">ETH Zurich - Swiss Federal Institute of Technology</option>
						<option value="17">Fudan University</option>
						<option value="18">Georgia Institute of Technology</option>
						<option value="19">Harvard University</option>
						<option value="20">Imperial College London</option>
						<option value="21">Johns Hopkins University</option>
						<option value="22">KAIST - Korea Advanced Institute of Science & Technology</option>
						<option value="23">King's College London</option>
						<option value="24">KU Leuven</option>
						<option value="25">Kyoto University</option>
						<option value="26">Leiden University</option>
						<option value="27">London School of Economics and Political Science (LSE)</option>
						<option value="28">Ludwig-Maximilians-Universität München</option>
						<option value="29">Lund University</option>
						<option value="30">Massachusetts Institute of Technology (MIT) </option>
						<option value="31">McGill University</option>
						<option value="32">McMaster University</option>
						<option value="33">Nanyang Technological University, Singapore (NTU)</option>
						<option value="34">National Taiwan University (NTU)</option>
						<option value="35">National University of Singapore (NUS)</option>
						<option value="36">New York University (NYU)</option>
						<option value="37">Northwestern University</option>
						<option value="38">Osaka University</option>
						<option value="39">Pennsylvania State University</option>
						<option value="40">Princeton University</option>
						<option value="41">Purdue University</option>
						<option value="42">Queen Mary University of London</option>
						<option value="43">Rice University</option>
						<option value="44">Ruprecht-Karls-Universitaet Heidelberg</option>
						<option value="45">Seoul National University</option>
						<option value="46">Stanford University</option>
						<option value="47">Technische Universität München </option>
						<option value="48">The Chinese University of Hong Kong (CUHK)</option>
						<option value="49">The Hong Kong University of Science and Technology</option>
						<option value="50">The Ohio State University</option>
						<option value="51">The University of Edinburgh</option>
						<option value="52">The University of Hong Kong</option>
						<option value="53">The University of Manchester</option>
						<option value="54">The University of Nottingham</option>
						<option value="55">The University of Sheffield</option>
						<option value="56">The University of Tokyo</option>
						<option value="57">The University of Warwick</option>
						<option value="58">Tokyo Institute of Technology</option>
						<option value="59">Trinity College Dublin</option>
						<option value="60">UCL (University College London)</option>
						<option value="61">Université de Montréal </option>
						<option value="62">University of Alberta</option>
						<option value="63">University of Amsterdam</option>
						<option value="64">University of Birmingham</option>
						<option value="65">University of Bristol</option>
						<option value="66">University of British Columbia</option>
						<option value="67">University of California, Berkeley (UCB)</option>
						<option value="68">University of California, Davis</option>
						<option value="69">University of California, Los Angeles (UCLA)</option>
						<option value="70">University of California, San Diego (UCSD)</option>
						<option value="71">University of California, Santa Barbara (UCSB)</option>
						<option value="72">University of Cambridge</option>
						<option value="73">University of Chicago</option>
						<option value="74">University of Copenhagen</option>
						<option value="75">University of Geneva</option>
						<option value="76">University of Glasgow</option>
						<option value="77">University of Groningen</option>
						<option value="78">University of Helsinki</option>
						<option value="79">University of Illinois at Urbana-Champaign</option>
						<option value="80">University of Leeds</option>
						<option value="81">University of Maryland, College Park</option>
						<option value="82">University of Michigan</option>
						<option value="83">University of Minnesota</option>
						<option value="84">University of North Carolina, Chapel Hill</option>
						<option value="85">University of Oxford</option>
						<option value="86">University of Pennsylvania</option>
						<option value="87">University of Pittsburgh</option>
						<option value="88">University of Southampton</option>
						<option value="89">University of Southern California</option>
						<option value="90">University of St Andrews</option>
						<option value="91">University of Texas at Austin</option>
						<option value="92">University of Toronto</option>
						<option value="93">University of Virginia</option>
						<option value="94">University of Washington</option>
						<option value="95">University of Wisconsin-Madison</option>
						<option value="96">University of Zurich</option>
						<option value="97">Uppsala University</option>
						<option value="98">Utrecht University</option>
						<option value="99">Washington University in St. Louis</option>
						<option value="100">Yale University</option>
					</select>
				</span> 
				</div>
				<div class="col-xs-5"> </div>
			</div>	
			<br>
			<div class="row cl">		
				<label class="form-label col-xs-2">学院：</label>
				<div class="formControls col-xs-5"> 
				<span class="select-box">
					<select class="select" size="1" id ="department" name="department" datatype="*" nullmsg="请选择所属学院！">
						<option value="" selected>请选择你所在的学院</option>
						<option value="1">social sciences & management</option>
						<option value="2">arts and humanities</option>
						<option value="3">natural sciences</option>
						<option value="4">life sciences & medicine</option>
						<option value="5">engineering & technology</option>
					</select>
				</span> 
				</div>
				<div class="col-xs-5"> </div>
			</div>
			<br>
			<div class="row cl">				
				<label class="form-label col-xs-2">入学时间：</label>
				<div class="formControls col-xs-5"> 
				<span class="select-box">
					<select class="select" size="1" name="start_year" id="start_year" datatype="*" nullmsg="请选择入学时间！">
						<option value="" selected>请选择你入学时间</option>
						<option value="1">2013</option>
						<option value="2">2014</option>
						<option value="3">2015</option>
						<option value="4">2016</option>
						<option value="5">2017</option>
					</select>
					</span> 
				</div>
				<div class="col-xs-5"> </div>
			</div>	
			<br>
			
			<div class="row cl">
				<label class="form-label col-xs-2">专业：</label>
				<div class="formControls col-xs-5">
					<input type="text" class="input-text" placeholder="请填写你的专业" name="major" id="major" datatype="major" nullmsg="专业不能为空">
				</div>
				<div class="col-xs-5"> </div>
			</div>
			<!--  
			<br>
			
			<div class="row cl">
				<label class="form-label col-xs-2">性别：</label>
				<div class="formControls skin-minimal col-xs-5">
					<div class="radio-box">
						<input type="radio" id="sex-1" name="sex" datatype="*" nullmsg="请选择性别！">
						<label for="sex-1">男</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="sex-2" name="sex">
						<label for="sex-2">女</label>
					</div>			
				</div>
				<div class="col-xs-5"> </div>
			</div>
			-->
			<br>
			<div class="row cl">
				<label class="form-label col-xs-2">护照号：</label>
				<div class="formControls col-xs-5">
					<input type="text" class="input-text" placeholder="护照号码" name="passport" id="passport" datatype="passport" nullmsg="护照不能为空">
				</div>
				<div class="col-xs-5"> </div>
			</div>
			<br>
			<div class="row cl">
				<label class="form-label col-xs-2">身份证号码：</label>
				<div class="formControls col-xs-5">
					<input type="text" class="input-text" placeholder="身份证号码" name="idcard" id="idcard" datatype="idcard" nullmsg="身份证号不能为空">
				</div>
				<div class="col-xs-5"> </div>
			</div>
			<br>
			<div class="row cl">
				<label class="form-label col-xs-2">预约贷款金额：</label>
				<div class="formControls col-xs-5">
					<input type="text" class="input-text" placeholder="人民币" name="loan" id="loan" datatype="loan" nullmsg="请输入金额">
				</div>
				<div class="col-xs-5"> </div>
			</div>	
			<br>
			
			
			<div class="row cl">
				<label class="form-label col-xs-2"></label>
				<div class="formControls skin-minimal col-xs-5">
					<div class="check-box">
						<input type="checkbox" id="checkbox-5" name="checkbox2" datatype="*" nullmsg="请勾选注册及服务协议。">
						<label for="checkbox-5"></label>
						我授权Brilliance Finance向我的大学询问我的个人信息（成绩等），以便Brilliance Finance对我的贷款进行评估
					</div>
					
				</div>
				<div class="col-xs-5"> </div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-2"></label>
				<div class="formControls skin-minimal col-xs-5">
					<div class="check-box">
						<input type="checkbox" id="checkbox-6" name="checkbox3" datatype="*" nullmsg="请勾选注册及服务协议。">
						<label for="checkbox-6"></label>
						我授权我的大学向Brilliance Finane提供任何有关贷款评估的个人信息
					</div>
					
				</div>
				<div class="col-xs-5"> </div>
			</div>


			<div class="row cl">
				<div class="col-xs-10 col-xs-offset-2">
					<input class="btn btn-primary" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</div>
			</div>
		</form>
		<br>
		<br>
		
		
	</div>
</section>

<script>
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$("#sreserve_form").Validform({
		tiptype:2
	});
});
</script>	
		